{% extends 'main/base.html' %}

{% block title %}
Шоколад
{% endblock %}

{% block content %}
<h1><font color="#FFF5EE">Все о шоколаде</font></h1>
<p><font color="#F4A460">Шокола́д — кондитерское изделие на основе масла какао, являющееся продуктом переработки какао-бобов — семян шоколадного дерева, богатых теобромином и кофеином.</p>

    <p>Изделие получило широкое распространение во всём мире, став одним из самых популярных типов еды; оно часто применяется в кулинарии. Шоколад входит в состав большого количества продуктов — преимущественно десертных, таких как торты, пудинги, муссы, шоколадные пирожные и печенья. Многие конфеты наполнены или покрыты подслащённым шоколадом; также твёрдые плитки шоколада и батончики, покрытые шоколадом, едят в качестве «закуски-перекуса». Шоколад в качестве подарков выпускается в различных формах и является традиционным на некоторых праздниках, таких как Пасха и День святого Валентина. Кроме того, шоколад используется в горячих и холодных напитках, таких как шоколадное молоко и горячий шоколад.</p>
    <p>Шоколадные изделия часто содержат ароматические добавки (кофе, спирт, коньяк, ванилин, перец, корицу), пищевые добавки (изюм, орехи, вафли, цукаты) или начинку.</font></p>
{% endblock %}
