{% extends 'main/base.html' %}

{% block title %}
Молочный шоколад
{% endblock %}

{% block content %}
<h1><font color="#FFFF00">Все о шоколаде</font></h1>
<p><font color="#FFF5EE">Молочный шоколад с добавлениями изготавливается из тёртого какао, масла какао, сахарной пудры и сухого молока. Чаще всего для его изготовления используется плёночное сухое молоко жирностью 2,5 % или сухие сливки. Аромат молочному шоколаду придаёт какао, вкус складывается из сахарной пудры и сухого молока; он имеет светло-коричневый оттенок. В отличие от тёмного или горького шоколада, легко тает как в ротовой полости, так и под действием факторов внешней среды (высокая температура воздуха). Основное сырьё для производства глазурей.</font></p>
<img src="https://n1s1.elle.ru/ec/da/7b/ecda7bfcbf33f170e2b6b9393703263a/620x388_1_fe672cbbd001034180b303ffd134c6c8@1280x800_0xac120002_15124812331548412696.jpg" alt="Фотография 1" width="550" height="400" align="right">
<img src="https://static.1000.menu/img/content-v2/52/65/19780/molochnyi-shokolad-domashnii_1595497673_7_max.jpg" alt="Фотография 2" width="550" height="400">

{% endblock %}